# TODO Create subdirectories for build, profile and eval

# Build
.debug
.depend
.profile
*.d
*.o
zehntausend

# Profile
analysis.txt
gmon.out

# Evaluate
*.dat
*.gpi
*.png

# Edit
*.swp
Session.vim
SessionSplit.vim
tags

# Misc
rename.sh
